body {
box-sizing: border-box;
}

.section {
    width: 100%;
    min-width: 375px;
    margin: 0 auto;
    margin-top: 50px;
}
.btn {
    padding: 10px 0;
    max-width: 120px;
    width: 100%;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: bisque;
    cursor: pointer;
}
.btn:hover {
    background-color: rgb(165, 148, 128);   
    transition: 0.3s;
}
.btn:active {
    background-color: rgb(133, 95, 51);   
    transition: 0.1s;
}


.section__h1 {
    font-size: 28px;
    text-align: center;
}
.section__date-div {
    display: flex;
    justify-content: space-around;
}
.date-div__wrapper {
    max-width: 150px;
    width: 100%;
    text-align: center;
}
.date-div__h2 {
    white-space: nowrap;
    font-size: 20px;
}


.section__preset-div {
    margin-top: 30px;
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 10px;
}
.preset-div__wrapper {
    max-width: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.preset-div__p {
    font-size: 16px;
    text-align: center;
}


.section__days-div {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.days-div__wrapper {
    border: 1px solid rgb(201, 201, 201);
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.days-div__p {
    font-size: 16px;
    padding: 0 20px;
    text-align: center;
    width: 100%;
    max-width: 300px;
}


.section__result-btn {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.result-btn {
    padding: 10px 0;
    max-width: 140px;
    width: 100%;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color:rgb(152, 197, 68); 
    cursor: pointer;
}
.result-btn:hover {
    padding: 10px 0;
    max-width: 160px;
    font-size: 20px;
    background-color:  rgb(153, 218, 34); 
    transition: 0.3s;
}
.result-btn:active {
    background-color: rgb(65, 82, 34);
    transition: 0.1s;
}
.result-area {
    margin-top: 20px;
}